body {
    padding-top: 5rem;
}

/* Header */
.navbar-header a.navbar-brand {
    margin-top: -5px;
}

button.contact {
    float: right;
    margin-top: 0.5em;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* Nodes */
.node text {
    font: 10px sans-serif;
}

.node .midpath text {
    font-weight: bold;
}

.node .midpath g {
    display: none
}

.node text:hover {
    padding: 2px;
    border: grey thin solid;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.right-pane {
    border-left: #ddd thin solid;
    border-bottom: #ddd thin solid;
    padding-bottom: 1em;
    margin-left: -1em;
}

.right-pane button {
    margin-top: 1em
}

.kpi rect {
    border: thin solid black;
}

/* RESULTS*/

.results {
    display: none;
}

.results-ia {
    display: none;
}

/* LEGENDE */
.legende {
    margin-top: 2em;
}
.item-img {
    margin-right: 1em;
}
.item-name {
    font-weight: bold;
}
.item-descr {
    font-size: 0.9em;
}
.legende .panel-body > div {
    margin-bottom: 2em;
}
.legende .panel-body > div p {
    margin-bottom: 1em;
}