body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.node text {
  font: 12px sans-serif;
}

.node text:hover {
    padding: 2px;
    border: grey thin solid;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.right-pane {
    border-left: #ddd thin solid;
    height: 450px;
}

.right-pane button {
    margin-top: 1em
}
